.App {
  border: 4px solid red;
  margin: 4px;
}

.home {
  border: 4px solid blue;
  padding: 4px;
  margin: 4px;
}

.nav {
  border: 4px solid green;
  padding: 4px;
  margin: 4px;
}

.search {
  border: 4px solid black;
  padding: 4px;
  margin: 4px;
}

.book {
  border: 4px solid purple;
  padding: 4px;
  margin: 4px;
}

.error {
  border: 4px solid yellow;
  padding: 4px;
  margin: 4px;
}